<div class="container">
  <h1 class="text-center">ヘルプ</h1>
  <h2>ログイン</h2>
  <p>
    ログインしないと, サービスの機能が使えません. ログインできるアカウントをお持ちでない方は, まずアカウントをお作りください.
  </p>
  <h2>アカウント作成</h2>
  <p>
    画面上部ヘッダーのメニューバーから[新規ユーザー登録]を選択してください. そして名前, メールアドレス, パスワード, 確認用パスワードを打ち込んでください. パスワード, 確認用パスワードは全てメールアドレスに統一することを, セキュリティ的にもオススメします.
  </p>
  <h2>ログイン</h2>
  <p>
    先ほど作ったアドレスとパスワードでログインしてください.
  </p>
  <h2>ログイン後</h2>
  <p>
    ログイン後は, メニューバーにあるユーザー選択を選択してください. そうするとユーザー一覧が出ます. そのユーザーにチェックを入れると, その人に通知を送ることができます. またメニューからユーザー情報を変更できます. 万が一名前やアドレスを間違えた場合はそちらから修正してください.
  </p>
</div>
