<%= form_for(@user, :html => {class: 'center-block container'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="field form-group">
   <%= f.label :password, "パスワード" %><br />
   <%= f.password_field :password, :class => "form-control" %>
</div>
<div class="field form-group">
   <%= f.label :password_confirmation, "確認用パスワード" %><br />
   <%= f.password_field :password_confirmation, :class => "form-control" %>
</div>
  <div class="actions">
    <%= f.submit "送信", class: "btn btn-lg btn-info col-xs-6 text-center col-xs-offset-3" %>
  </div>
<% end %>
