<h1 class="text-center">参加者一覧</h1>

<%= form_tag("/send_mail", method: "post", class: "form-group form-group-lg") do %>
<table class="table">
  <thead>
    <tr>
      <th class='col-xs-6 label_text'>宛先</th>
      <th class='col-xs-6 label_text'>名前</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <%= hidden_field_tag 'users[][id]', user.id %>
      <td>  <%= check_box_tag 'users[][user]', nil %></td>
      <td>  <%= label_tag user.name, nil, {class: 'label_text'} %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
  <%= submit_tag "送信", :class => "btn btn-lg btn-info col-xs-6 text-center col-xs-offset-3" %>


<% end %>
