<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @record.sender_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @record.receiver_id %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
