.label_text{
  font-size: 1.9rem;
}

input[type=checkbox] {
  margin-top: 10px;
  margin-left: 40px;
  transform: scale(1.5);
}

h1{
  margin-top: 40px;
  margin-bottom: 50px;
}

table{
  margin-top: 30px;
}

tr{
  margin-top: 130px;
  padding: 130px;
}
td, th {
margin: 135px 140px;
}

body{
  // background-color: red;
}
