<div class="container">
<%= form_tag(user_sessions_path, :method => :post, :class => "form-group") do %>
  <div class="field form-group">
    <%= label_tag :email, "メールアドレス" %><br/>
    <%= text_field_tag :email, nil,class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= label_tag :password, "パスワード" %><br/>
    <%= password_field_tag :password, nil,class: 'form-control' %>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン", class: "btn btn-lg btn-info col-xs-6 text-center col-xs-offset-3" %>
  </div>
<% end %>
</div>
