<!DOCTYPE html>
<html>
<head>
  <title>ShyqueueServer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- モバイル表示用の省略メニュー -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target="#navbar-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "ShyQueue", users_path, :method=> :get, :class => "navbar-brand" %>
            </div>
            <!-- ナビゲーションメニュー -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <!-- <form class="navbar-form navbar-right hidden-lg">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="キーワード">
                    </div>
                    <button type="submit" class="btn btn-info">ユーザー名検索</button>
                </form> -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            アカウント情報<span class="caret"></span>
                        </a> -->
                        <ul class="dropdown-toggle" data-toggle="dropdown" role="menu">
                          <% if current_user %>
                          <li>
                            <%= link_to "ユーザー選択", users_path, :method=> :get %>
                          </li>
                            <li>
                              <%= link_to "ユーザー情報修正", edit_user_path(current_user.id), :method=> :get %>
                            </li>
                            <li>
                              <%= link_to "ログアウト", :logout, :method=> :post  %>
                            </li>
                            <li>
                              <%= link_to "ヘルプ", '/help', :method=> :get %>
                            </li>
                          <% else %>
                            <li>
                              <%= link_to "新規ユーザー登録", new_user_path, :method=> :get %>
                            </li>
                            <li>
                              <%= link_to "ログイン", :login, :method=> :get %>
                            </li>
                            <li>
                              <%= link_to "ヘルプ", '/help', :method=> :get %>
                            </li>
                          <% end %>
                        </ul>
                    </li>
                <ul>
            </div>
        </div>
    </nav>

    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <%= yield %>

</body>
</html>
